*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
}
.container{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 15px;
}
.display{
    grid-column: span 4;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #111;
    color: white;
    font-size: 35px;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 10px;
}
button{
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 28px;
    cursor: pointer;
    background-color: #4a4a4a;
    color: white;
}
button:hover{
    opacity: 0.8;
}
button:nth-of-type(4),
button:nth-of-type(8),
button:nth-of-type(12),
button:nth-of-type(16),
button:nth-of-type(20){
    background-color: orange;
    color: black;
}